.chat-main
  .chat-main__group-info
    .chat-main__group-info--name
      %p.name general
      %p.member Member: 平野 雅一
    .chat-main__group-info--edit
      .edit
        =link_to "#" do
          Edit
  .chat-main__message-list
  .chat-main__message-form