* {
  box-sizing: border-box;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  float: left;

  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.top-items {
  width: 260px;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__name {
    color: #ffffff;
  }

  &__icons {
    width: 60px;
    text-align: right;

    &--btn-edit {
      color: #ffffff;
      text-decoration: none;
    }

    &--btn-setting {
      color: #ffffff;
      text-decoration: none;
      margin-left: 5px;
    }
  }
}

.group {
  color: #ffffff;
  font-weight: bold;
  height: 91px;
  padding-left: 20px;

  &__name {
    font-size: 15px;
    padding-top: 20px;
  }

  &__message {
    font-size: 11px;
    padding-top: 5px;
  }
}

.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  margin-left: 300px;

  &__group-info {
    background-color: #ffffff;
    border-bottom: #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;

    &--name {
      padding-left: 40px;
    }

    p.name {
      color: #333333;
      font-size: 20px;
      padding-top: 35px;
    }

    p.member {
      color: #999999;
      font-size: 12px;
      padding-top: 15px;
    }

    &--edit {
      width: 112px;
      display: flex;
      align-items: center;
    }

    .edit {
      width: 72px;
      height: 40px;
      color: #38aef0;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      margin-top: 28px;
      padding-right: 40px;
    }
  }

  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
  }

  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
  }
}