* {
  box-sizing: border-box;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  float: left;

  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);

    .group {
      &__name {
        color: #ffffff;
        text-decoration: none;
      }
      &__message {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.top-items {
  width: 260px;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__name {
    color: #ffffff;
  }

  &__icons {
    width: 60px;
    text-align: right;

    &--btn-edit {
      color: #ffffff;
      text-decoration: none;
    }

    &--btn-setting {
      color: #ffffff;
      text-decoration: none;
      margin-left: 5px;
    }
  }
}

.group {
  color: #ffffff;
  font-weight: bold;
  height: 91px;
  padding-left: 20px;

  &__name {
    font-size: 15px;
    padding-top: 20px;
  }

  &__message {
    font-size: 11px;
    padding-top: 5px;
  }
}

.wrapper {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;

  .chat-top {
    background-color: #ffffff;
    border-bottom: #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;

    .chat-info {
      padding-left: 40px;

      &__group {
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
      }

      &__user-name {
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
      }
    }

    .chat-edit {
      width: 112px;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }

      &__link {
        color: #38aef0;
        font-size: 16px;
        width: 72px;
        height: 40px;
        border: solid 1px #38aef0;

        p {
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }

  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);

    .contents {
      margin-left: 40px;

      &__name {
        padding-top: 35px;
        margin-bottom: 12px;

        .name {
          color: #333333;
          font-size: 16px;
          float: left;
        }

        .date {
          color: #999999;
          font-size: 12px;
        }
      }

      .message {
        color: #434a54;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 46px;
      }
    }
  }

  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
      justify-content: space-around;
      align-items: center;

    .form {
      position: relative;

      &__message {
        width: calc(100vw - 455px);
        height: 50px;
      }

      .form__mask {
        position: absolute;
          right: 115px;
          bottom: 10px;

        &__image {
          .hidden {
            display: none;
          }
        }
      }

      &__submit {
        background-color: #38aef0;
        color: #ffffff;
        width: 100px;
        height: 50px;
      }
    }
  }
}